*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto";
    list-style-type: none;
    text-decoration: none;
}

.clear{clear: both;}
.container{max-width: 960px; padding: 0 2%;margin: 0 auto;}

.header-master{
    width: 100%;
    padding: 30px 0;
    min-height: 700px;
    background-image: url('../img/bg_01.png');
    background-size: cover;
}
.header-master header{
    border-bottom: 3px solid rgba(71, 83, 88, 0.1);
}

div.logo{
    float: left;
    width: 166px;
    height: 64px;
    background-image: url('../img/logo.png');
    background-size: 100% 100%;
}

header nav{
    float: left;
    padding-left: 60px;
}

nav li{
    padding:0 15px;
    display: inline-block;
    font-size: 17px;
    color: white;
    position: relative;
}

header li a{
    color: inherit;
}

li.selected > span{
    position: absolute;
    bottom: 0;
    width: 20px;
    height: 3px;
    background: #509d87;
}

li.selected{
    color: #509d87;
}

.telefone-header{
    float: left;
    position: relative;
    top: -3px;
}

.telefone-header span{
    font-size: 21px;
    color: white;
    padding-left: 30px;
}

.container-header{ padding: 60px 0;}

.container-header .one{
    float: left;
    width: 50%;
}

.container-header .one h2{
    color: #509d87;
    font-weight: normal;
    font-size: 37px;
}

.container-header .one p{
    padding: 10px 0;
    font-size: 15px;
}

.container-header .one form input{display: inline-block;}

.container-header .one form input[type=email]{
    width: 251px;
    height: 40px;
    border: 3px solid #eeeeee;
    border-radius: 30px;
    padding-left: 15px;
    margin: 10px 0;
}

.container-header .one form input[type=email]:focus{
    outline: 0;
}

.container-header .one form input[type=submit]{
    background-color: #00daaa;
    color: white;
    cursor: pointer;
    border: 0;
    height: 40px;
    padding: 0 30px;
    border-radius: 30px;
    font-size: 14px;
    margin: 10px 0;
}


.container-header .one span{
    color: #509d87;
    font-size: 14px;
    margin-top: 15px;
    display: block;
}

.container-header .two{
    float: left;
    width: 50%;
}

.container-header .two img{
    float: left;
    width: 46%;
    margin: 2%;
}

.diferencial{padding: 40px 0;}

.diferencial .container{
    display: flex;
    flex-wrap: wrap;
}

.diferencial-single{
    width: 33.3%;
    margin-bottom: 30px;
    padding: 0 10px;
}

.diferencial-single img{max-width: 20%;}

.diferencial-single h2{
    margin: 20px 0;
    font-size: 30px;
    color: #212121;
}

.diferencial-single h2 b{color: #7dd5b0;}

.diferencial-single p{
    color: #2d2d2d;
    font-size: 14px;
    font-weight: bold;
}


@media screen and (max-width: 900px) {
    .diferencial-single{ width: 50%;text-align: center;}
    .container-header .one{text-align: center; width: 100%; padding: 0 20px;}
    .container-header .two{width: 100%;}
    .container-header .two .vn{display: none;}
    .telefone-header{display: none;}
    nav.desktop{display: none;}
}

@media screen and (max-width: 750px) {
    .diferencial-single{ width: 100%;text-align: center;}
}
